@font-face {
  font-family: "Goldman";
  src: local("Goldman"), url("../assets/fonts/GoldmanSans_Rg.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Goldman";
  src: local("Goldman"), url("../assets/fonts/GoldmanSans_Lt.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Goldman";
  src: local("Goldman"), url("../assets/fonts/GoldmanSans_Md.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Goldman";
  src: local("Goldman"), url("../assets/fonts/GoldmanSans_Bd.ttf");
  font-weight: 700;
  font-style: normal;
}
