/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts.scss";

html,
body {
  font-family: Goldman, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2f3d4a;
}

h1 {
  font-weight: 600;
  color: #2f3d4a;
}

h2 {
  font-weight: 400;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 12rem;
  background-color: #4b5c6b;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 8px;
  position: absolute;
  z-index: 1;
  top: 125%;
  right: -40%;
  font-weight: 600;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 13%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
