/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts.scss";

html,
body {
  font-family: Goldman, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
